[Desktop Entry]
Version=1.0
Type=Application
Name=MrCoopersScreenShare Sender
Comment=MrCoopersScreenShare Sender (Python Source)
Exec=/usr/bin/python /var/mnt/shared-drive/2027/coopershare/sender.py
Path=/var/mnt/shared-drive/2027/coopershare
Icon=/var/mnt/shared-drive/2027/coopershare/icon.png
Terminal=false
StartupNotify=false
Categories=Utility;Network;
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,zkde_screencast_unstable_v1
